<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.quhailong.pan.fastDFS.mapper.FileMapper" >
  <resultMap id="BaseResultMap" type="top.quhailong.pan.pojo.File" >
    <id column="fid" property="fid" jdbcType="VARCHAR" />
    <result column="originalName" property="originalname" jdbcType="VARCHAR" />
    <result column="size" property="size" jdbcType="INTEGER" />
    <result column="fileType" property="filetype" jdbcType="INTEGER" />
    <result column="fileLocation" property="filelocation" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="md5" property="md5" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fid, originalName, size, fileType, fileLocation, createtime, md5
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.quhailong.pan.pojo.FileExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from file
    where fid = #{fid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from file
    where fid = #{fid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.quhailong.pan.pojo.FileExample" >
    delete from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.quhailong.pan.pojo.File" >
    insert into file (fid, originalName, size, 
      fileType, fileLocation, createtime, 
      md5)
    values (#{fid,jdbcType=VARCHAR}, #{originalname,jdbcType=VARCHAR}, #{size,jdbcType=INTEGER}, 
      #{filetype,jdbcType=INTEGER}, #{filelocation,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{md5,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="top.quhailong.pan.pojo.File" >
    insert into file
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        fid,
      </if>
      <if test="originalname != null" >
        originalName,
      </if>
      <if test="size != null" >
        size,
      </if>
      <if test="filetype != null" >
        fileType,
      </if>
      <if test="filelocation != null" >
        fileLocation,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="md5 != null" >
        md5,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fid != null" >
        #{fid,jdbcType=VARCHAR},
      </if>
      <if test="originalname != null" >
        #{originalname,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        #{size,jdbcType=INTEGER},
      </if>
      <if test="filetype != null" >
        #{filetype,jdbcType=INTEGER},
      </if>
      <if test="filelocation != null" >
        #{filelocation,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="md5 != null" >
        #{md5,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.quhailong.pan.pojo.FileExample" resultType="java.lang.Integer" >
    select count(*) from file
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update file
    <set >
      <if test="record.fid != null" >
        fid = #{record.fid,jdbcType=VARCHAR},
      </if>
      <if test="record.originalname != null" >
        originalName = #{record.originalname,jdbcType=VARCHAR},
      </if>
      <if test="record.size != null" >
        size = #{record.size,jdbcType=INTEGER},
      </if>
      <if test="record.filetype != null" >
        fileType = #{record.filetype,jdbcType=INTEGER},
      </if>
      <if test="record.filelocation != null" >
        fileLocation = #{record.filelocation,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.md5 != null" >
        md5 = #{record.md5,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update file
    set fid = #{record.fid,jdbcType=VARCHAR},
      originalName = #{record.originalname,jdbcType=VARCHAR},
      size = #{record.size,jdbcType=INTEGER},
      fileType = #{record.filetype,jdbcType=INTEGER},
      fileLocation = #{record.filelocation,jdbcType=VARCHAR},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      md5 = #{record.md5,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.quhailong.pan.pojo.File" >
    update file
    <set >
      <if test="originalname != null" >
        originalName = #{originalname,jdbcType=VARCHAR},
      </if>
      <if test="size != null" >
        size = #{size,jdbcType=INTEGER},
      </if>
      <if test="filetype != null" >
        fileType = #{filetype,jdbcType=INTEGER},
      </if>
      <if test="filelocation != null" >
        fileLocation = #{filelocation,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="md5 != null" >
        md5 = #{md5,jdbcType=VARCHAR},
      </if>
    </set>
    where fid = #{fid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.quhailong.pan.pojo.File" >
    update file
    set originalName = #{originalname,jdbcType=VARCHAR},
      size = #{size,jdbcType=INTEGER},
      fileType = #{filetype,jdbcType=INTEGER},
      fileLocation = #{filelocation,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      md5 = #{md5,jdbcType=VARCHAR}
    where fid = #{fid,jdbcType=VARCHAR}
  </update>
</mapper>