<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.quhailong.pan.share.mapper.SharemapMapper" >
  <resultMap id="BaseResultMap" type="top.quhailong.pan.pojo.Sharemap" >
    <id column="mid" property="mid" jdbcType="VARCHAR" />
    <result column="shareId" property="shareid" jdbcType="VARCHAR" />
    <result column="vid" property="vid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mid, shareId, vid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.quhailong.pan.pojo.SharemapExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from sharemap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sharemap
    where mid = #{mid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sharemap
    where mid = #{mid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.quhailong.pan.pojo.SharemapExample" >
    delete from sharemap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.quhailong.pan.pojo.Sharemap" >
    insert into sharemap (mid, shareId, vid
      )
    values (#{mid,jdbcType=VARCHAR}, #{shareid,jdbcType=VARCHAR}, #{vid,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.quhailong.pan.pojo.Sharemap" >
    insert into sharemap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="shareid != null" >
        shareId,
      </if>
      <if test="vid != null" >
        vid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=VARCHAR},
      </if>
      <if test="shareid != null" >
        #{shareid,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        #{vid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.quhailong.pan.pojo.SharemapExample" resultType="java.lang.Integer" >
    select count(*) from sharemap
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update sharemap
    <set >
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=VARCHAR},
      </if>
      <if test="record.shareid != null" >
        shareId = #{record.shareid,jdbcType=VARCHAR},
      </if>
      <if test="record.vid != null" >
        vid = #{record.vid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update sharemap
    set mid = #{record.mid,jdbcType=VARCHAR},
      shareId = #{record.shareid,jdbcType=VARCHAR},
      vid = #{record.vid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.quhailong.pan.pojo.Sharemap" >
    update sharemap
    <set >
      <if test="shareid != null" >
        shareId = #{shareid,jdbcType=VARCHAR},
      </if>
      <if test="vid != null" >
        vid = #{vid,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.quhailong.pan.pojo.Sharemap" >
    update sharemap
    set shareId = #{shareid,jdbcType=VARCHAR},
      vid = #{vid,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=VARCHAR}
  </update>
</mapper>