<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.quhailong.pan.share.mapper.ShareMapper" >
  <resultMap id="BaseResultMap" type="top.quhailong.pan.pojo.Share" >
    <id column="sid" property="sid" jdbcType="VARCHAR" />
    <result column="shareId" property="shareid" jdbcType="VARCHAR" />
    <result column="theme" property="theme" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="VARCHAR" />
    <result column="isLock" property="islock" jdbcType="INTEGER" />
    <result column="sPassword" property="spassword" jdbcType="VARCHAR" />
    <result column="visitTime" property="visittime" jdbcType="INTEGER" />
    <result column="saveTime" property="savetime" jdbcType="INTEGER" />
    <result column="downloadTime" property="downloadtime" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="multi" property="multi" jdbcType="INTEGER" />
    <result column="expiration" property="expiration" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    sid, shareId, theme, uid, isLock, sPassword, visitTime, saveTime, downloadTime, createtime, 
    multi, expiration
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="top.quhailong.pan.pojo.ShareExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from share
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from share
    where sid = #{sid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from share
    where sid = #{sid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="top.quhailong.pan.pojo.ShareExample" >
    delete from share
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.quhailong.pan.pojo.Share" >
    insert into share (sid, shareId, theme, 
      uid, isLock, sPassword, 
      visitTime, saveTime, downloadTime, 
      createtime, multi, expiration
      )
    values (#{sid,jdbcType=VARCHAR}, #{shareid,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR}, 
      #{uid,jdbcType=VARCHAR}, #{islock,jdbcType=INTEGER}, #{spassword,jdbcType=VARCHAR}, 
      #{visittime,jdbcType=INTEGER}, #{savetime,jdbcType=INTEGER}, #{downloadtime,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{multi,jdbcType=INTEGER}, #{expiration,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="top.quhailong.pan.pojo.Share" >
    insert into share
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        sid,
      </if>
      <if test="shareid != null" >
        shareId,
      </if>
      <if test="theme != null" >
        theme,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="islock != null" >
        isLock,
      </if>
      <if test="spassword != null" >
        sPassword,
      </if>
      <if test="visittime != null" >
        visitTime,
      </if>
      <if test="savetime != null" >
        saveTime,
      </if>
      <if test="downloadtime != null" >
        downloadTime,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="multi != null" >
        multi,
      </if>
      <if test="expiration != null" >
        expiration,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sid != null" >
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="shareid != null" >
        #{shareid,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        #{theme,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="islock != null" >
        #{islock,jdbcType=INTEGER},
      </if>
      <if test="spassword != null" >
        #{spassword,jdbcType=VARCHAR},
      </if>
      <if test="visittime != null" >
        #{visittime,jdbcType=INTEGER},
      </if>
      <if test="savetime != null" >
        #{savetime,jdbcType=INTEGER},
      </if>
      <if test="downloadtime != null" >
        #{downloadtime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="multi != null" >
        #{multi,jdbcType=INTEGER},
      </if>
      <if test="expiration != null" >
        #{expiration,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.quhailong.pan.pojo.ShareExample" resultType="java.lang.Integer" >
    select count(*) from share
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update share
    <set >
      <if test="record.sid != null" >
        sid = #{record.sid,jdbcType=VARCHAR},
      </if>
      <if test="record.shareid != null" >
        shareId = #{record.shareid,jdbcType=VARCHAR},
      </if>
      <if test="record.theme != null" >
        theme = #{record.theme,jdbcType=VARCHAR},
      </if>
      <if test="record.uid != null" >
        uid = #{record.uid,jdbcType=VARCHAR},
      </if>
      <if test="record.islock != null" >
        isLock = #{record.islock,jdbcType=INTEGER},
      </if>
      <if test="record.spassword != null" >
        sPassword = #{record.spassword,jdbcType=VARCHAR},
      </if>
      <if test="record.visittime != null" >
        visitTime = #{record.visittime,jdbcType=INTEGER},
      </if>
      <if test="record.savetime != null" >
        saveTime = #{record.savetime,jdbcType=INTEGER},
      </if>
      <if test="record.downloadtime != null" >
        downloadTime = #{record.downloadtime,jdbcType=INTEGER},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.multi != null" >
        multi = #{record.multi,jdbcType=INTEGER},
      </if>
      <if test="record.expiration != null" >
        expiration = #{record.expiration,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update share
    set sid = #{record.sid,jdbcType=VARCHAR},
      shareId = #{record.shareid,jdbcType=VARCHAR},
      theme = #{record.theme,jdbcType=VARCHAR},
      uid = #{record.uid,jdbcType=VARCHAR},
      isLock = #{record.islock,jdbcType=INTEGER},
      sPassword = #{record.spassword,jdbcType=VARCHAR},
      visitTime = #{record.visittime,jdbcType=INTEGER},
      saveTime = #{record.savetime,jdbcType=INTEGER},
      downloadTime = #{record.downloadtime,jdbcType=INTEGER},
      createtime = #{record.createtime,jdbcType=TIMESTAMP},
      multi = #{record.multi,jdbcType=INTEGER},
      expiration = #{record.expiration,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.quhailong.pan.pojo.Share" >
    update share
    <set >
      <if test="shareid != null" >
        shareId = #{shareid,jdbcType=VARCHAR},
      </if>
      <if test="theme != null" >
        theme = #{theme,jdbcType=VARCHAR},
      </if>
      <if test="uid != null" >
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="islock != null" >
        isLock = #{islock,jdbcType=INTEGER},
      </if>
      <if test="spassword != null" >
        sPassword = #{spassword,jdbcType=VARCHAR},
      </if>
      <if test="visittime != null" >
        visitTime = #{visittime,jdbcType=INTEGER},
      </if>
      <if test="savetime != null" >
        saveTime = #{savetime,jdbcType=INTEGER},
      </if>
      <if test="downloadtime != null" >
        downloadTime = #{downloadtime,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="multi != null" >
        multi = #{multi,jdbcType=INTEGER},
      </if>
      <if test="expiration != null" >
        expiration = #{expiration,jdbcType=TIMESTAMP},
      </if>
    </set>
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.quhailong.pan.pojo.Share" >
    update share
    set shareId = #{shareid,jdbcType=VARCHAR},
      theme = #{theme,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=VARCHAR},
      isLock = #{islock,jdbcType=INTEGER},
      sPassword = #{spassword,jdbcType=VARCHAR},
      visitTime = #{visittime,jdbcType=INTEGER},
      saveTime = #{savetime,jdbcType=INTEGER},
      downloadTime = #{downloadtime,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      multi = #{multi,jdbcType=INTEGER},
      expiration = #{expiration,jdbcType=TIMESTAMP}
    where sid = #{sid,jdbcType=VARCHAR}
  </update>
</mapper>